<md-toolbar class="mat-primary">
	<h3 [style.color]="'white'">ADMIN PORTAL</h3>
	<span class="example-spacer"></span>
	<span [hidden]="!loggedIn"><a md-button routerLink="/bookList">View Book List</a></span>
	<span [hidden]="!loggedIn"><a md-button routerLink="/addNewBook">Add a Book</a></span>
	<span [hidden]="!loggedIn"><a md-button (click)="logout()">Logout</a></span>
</md-toolbar>

